# Medical Insurance Project

I am a doctor who needs to clean up medical patient records, which are currently stored in one large string.

**1. Working with strings**
-  the string medical data records medical records for ten individuals, each record is separated by a semicolon and contain the name, age, BMI and cost insurance, in that order.
- print medical_data
- replace all instances of "#" in medical_data with dollars store the result i a variable called updated_medical_data
- print out updated_medical_data
- calculate the number of records from our data, write a for loop to iterate through updated_medical_data string. Inside of the loop , add 1 to num_records when the current character is equal to '$' 
- print num_records outside the loop

In [2]:
medical_data = \
"""Marina Allison   ,27   ,   31.1 , #7010.0   ;Markus Valdez   ,   30, 
22.4,   #4050.0 ;Connie Ballard ,43 ,   25.3 , #12060.0 ;Darnell Weber   ,   35   , 20.6   , #7500.0;Sylvie Charles   
,22, 22.1 ,#3022.0   ;   Vinay Padilla,24,   
26.9 ,#4620.0 ;Meredith Santiago, 51   , 29.3 ,#16330.0;   Andre Mccarty, 19,22.7 , #2900.0 ; Lorena Hodson ,65,
33.1 , #19370.0; Isaac Vu ,34, 24.8,   #7045.0"""

In [3]:
print(medical_data)

Marina Allison   ,27   ,   31.1 , #7010.0   ;Markus Valdez   ,   30,
22.4,   #4050.0 ;Connie Ballard ,43 ,   25.3 , #12060.0 ;Darnell Weber   ,   35   , 20.6   , #7500.0;Sylvie Charles
,22, 22.1 ,#3022.0   ;   Vinay Padilla,24,
26.9 ,#4620.0 ;Meredith Santiago, 51   , 29.3 ,#16330.0;   Andre Mccarty, 19,22.7 , #2900.0 ; Lorena Hodson ,65,
33.1 , #19370.0; Isaac Vu ,34, 24.8,   #7045.0

In [6]:
updated_medical_data = medical_data.replace('#', '$')
updated_medical_data

'Marina Allison   ,27   ,   31.1 , $7010.0   ;Markus Valdez   ,   30, \n22.4,   $4050.0 ;Connie Ballard ,43 ,   25.3 , $12060.0 ;Darnell Weber   ,   35   , 20.6   , $7500.0;Sylvie Charles   \n,22, 22.1 ,$3022.0   ;   Vinay Padilla,24,   \n26.9 ,$4620.0 ;Meredith Santiago, 51   , 29.3 ,$16330.0;   Andre Mccarty, 19,22.7 , $2900.0 ; Lorena Hodson ,65,\n33.1 , $19370.0; Isaac Vu ,34, 24.8,   $7045.0'

In [9]:
num_records = 0 
for i in updated_medical_data:
    if i == '$':
        num_records += 1

In [11]:
print("There are {} medical records in the data".format(num_records))

There are 10 medical records in the data

**Splitting strings**
- let's by splitting the updated_medical_data into a list of each medical record, each medical record is splitted by semicolon, store the result in a variable called medical_data_split 
- print out the result
- let's split each medical record into it's own list, first define an empty list and call it medical_record
- iterate through the medical_data_split and for each record split the string after each comma and append data to medical records

In [15]:
medical_data_split = updated_medical_data.split(';')

In [14]:
print(medical_data_split)

['Marina Allison   ,27   ,   31.1 , $7010.0   ', 'Markus Valdez   ,   30, \n22.4,   $4050.0 ', 'Connie Ballard ,43 ,   25.3 , $12060.0 ', 'Darnell Weber   ,   35   , 20.6   , $7500.0', 'Sylvie Charles   \n,22, 22.1 ,$3022.0   ', '   Vinay Padilla,24,   \n26.9 ,$4620.0 ', 'Meredith Santiago, 51   , 29.3 ,$16330.0', '   Andre Mccarty, 19,22.7 , $2900.0 ', ' Lorena Hodson ,65,\n33.1 , $19370.0', ' Isaac Vu ,34, 24.8,   $7045.0']

In [17]:
medical_records = []
for i in medical_data_split:
    medical_records.append(i.split(','))
medical_records

[['Marina Allison   ', '27   ', '   31.1 ', ' $7010.0   '],
 ['Markus Valdez   ', '   30', ' \n22.4', '   $4050.0 '],
 ['Connie Ballard ', '43 ', '   25.3 ', ' $12060.0 '],
 ['Darnell Weber   ', '   35   ', ' 20.6   ', ' $7500.0'],
 ['Sylvie Charles   \n', '22', ' 22.1 ', '$3022.0   '],
 ['   Vinay Padilla', '24', '   \n26.9 ', '$4620.0 '],
 ['Meredith Santiago', ' 51   ', ' 29.3 ', '$16330.0'],
 ['   Andre Mccarty', ' 19', '22.7 ', ' $2900.0 '],
 [' Lorena Hodson ', '65', '\n33.1 ', ' $19370.0'],
 [' Isaac Vu ', '34', ' 24.8', '   $7045.0']]

**Cleaning Data** 
- our data are not properly formatted - it contains unnecessary whitespaces 
- let's start by creating an empty list called medical_records_clean.
- use a for loop to iterate through medical records. Inside of the loop create an empty list called record_clean, this list will help us to store a formatted version of each medical record  
- after the empty lists record_clean create a nested loop that goes through each record
- inside this loop append item.strip() to record_clean to remove any whitespaces from the string 
- strip() method removes spaces at the begining and at the end of the string 
- outside the nested loop append record_clean to medical_records_clean ]
-  finnaly print out medical_records_clean outside the for loop

In [21]:
medical_records_clean = []
for record in medical_records:
    record_clean = []
    for item in record:
        record_clean.append(item.strip())
    medical_records_clean.append(record_clean)

In [23]:
print(medical_records_clean)

[['Marina Allison', '27', '31.1', '$7010.0'], ['Markus Valdez', '30', '22.4', '$4050.0'], ['Connie Ballard', '43', '25.3', '$12060.0'], ['Darnell Weber', '35', '20.6', '$7500.0'], ['Sylvie Charles', '22', '22.1', '$3022.0'], ['Vinay Padilla', '24', '26.9', '$4620.0'], ['Meredith Santiago', '51', '29.3', '$16330.0'], ['Andre Mccarty', '19', '22.7', '$2900.0'], ['Lorena Hodson', '65', '33.1', '$19370.0'], ['Isaac Vu', '34', '24.8', '$7045.0']]

**Analyzing Data**
- data is clean and ready for analyzing 
- you want all the names from medical records to be uppercase characters 
- let's store each name, age, BMI and insurance cost in separate lists, create a empty list for each feature
- iterate through medical_record_clean and for each record append  the afferent value to the empty list
- print out the result 
- let's calculate the average BMI in our dataset, first create a variable called total_bmi and set it to 0 
- next, iterate through the bmis and add each bmi to total_bmi, at end convert bmi to float 
- after the foor loop, create a variable called average_bmi theat stores the total_bmi divided by the length of the bmis list 
- print out the result

In [51]:
for name in medical_records_clean:
    uppercase = name[0].upper()
    print(uppercase)

MARINA ALLISON
MARKUS VALDEZ
CONNIE BALLARD
DARNELL WEBER
SYLVIE CHARLES
VINAY PADILLA
MEREDITH SANTIAGO
ANDRE MCCARTY
LORENA HODSON
ISAAC VU

In [53]:
for record in medical_records_clean:
    names.append(record[0].upper())
    age.append(record[1])
    bmis.append(record[2])
    insurance_cost.append(record[3])

In [54]:
print(names)

['MARINA ALLISON', 'MARKUS VALDEZ', 'CONNIE BALLARD', 'DARNELL WEBER', 'SYLVIE CHARLES', 'VINAY PADILLA', 'MEREDITH SANTIAGO', 'ANDRE MCCARTY', 'LORENA HODSON', 'ISAAC VU']

In [55]:
print(age)

['27', '30', '43', '35', '22', '24', '51', '19', '65', '34']

In [56]:
print(bmis)

['31.1', '22.4', '25.3', '20.6', '22.1', '26.9', '29.3', '22.7', '33.1', '24.8']

In [57]:
print(insurance_cost)

['$7010.0', '$4050.0', '$12060.0', '$7500.0', '$3022.0', '$4620.0', '$16330.0', '$2900.0', '$19370.0', '$7045.0']

In [70]:
total_bmi = 0
for bmi in bmis:
    total_bmi += float(bmi)
    average_bmi = total_bmi / len(bmis)

In [71]:
print("Average BMI: {}".format(round(average_bmi), 2))

Average BMI: 26

**Extra**

Congratulation!! In this project, you used python strings to transform and clean up medical data. 
- for extra practice with python strings, here are some suggestions 
    - calculate the average insurance cost in insurance_cost, remove the sign dollars in order to proceed 
    - write a for lop that display a string for each individual in the following format

In [73]:
total_insurance_cost = 0
for cost in insurance_cost:
    total_insurance_cost += float(cost.strip("$"))
    average_insurance_cost = total_insurance_cost / len(insurance_cost)
print(average_insurance_cost)

8390.7

In [76]:
for record in medical_records_clean:
    print("{} is {} year olds with a BMI of {} and an insurance cost of ${}.".format(record[0], record[1], record[2], record[3]))

Marina Allison is 27 year olds with a BMI of 31.1 and an insurance cost of $$7010.0.
Markus Valdez is 30 year olds with a BMI of 22.4 and an insurance cost of $$4050.0.
Connie Ballard is 43 year olds with a BMI of 25.3 and an insurance cost of $$12060.0.
Darnell Weber is 35 year olds with a BMI of 20.6 and an insurance cost of $$7500.0.
Sylvie Charles is 22 year olds with a BMI of 22.1 and an insurance cost of $$3022.0.
Vinay Padilla is 24 year olds with a BMI of 26.9 and an insurance cost of $$4620.0.
Meredith Santiago is 51 year olds with a BMI of 29.3 and an insurance cost of $$16330.0.
Andre Mccarty is 19 year olds with a BMI of 22.7 and an insurance cost of $$2900.0.
Lorena Hodson is 65 year olds with a BMI of 33.1 and an insurance cost of $$19370.0.
Isaac Vu is 34 year olds with a BMI of 24.8 and an insurance cost of $$7045.0.